# -*- coding: utf-8 -*-
#
# This file is part of jsonresolver
# Copyright (C) 2015 CERN.
#
# jsonresolver is free software; you can redistribute it and/or modify
# it under the terms of the Revised BSD License; see LICENSE file for
# more details.

graft examples
graft jsonresolver
graft tests
include docs/requirements.txt
recursive-include docs *.bat
recursive-include docs *.py
recursive-include docs *.rst
recursive-include docs Makefile
include .editorconfig
include *.ini
include *.rst
include *.sh
include *.txt
include .lgtm
include LICENSE
include MAINTAINERS
global-exclude *.py[cod] __pycache__ *.so
recursive-include .github/workflows *.yml
include .git-blame-ignore-revs
